* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-font: "Inter", sans-serif;

  --blue: #4e80ee;
  --dark-blue: #030616;
  --gray: #d2d5da;
  --light-gray: #f8fafc;
  --white: #fff;
}

body {
  background-color: var(--light-gray);
  color: var(--dark-blue);
  font-family: var(--custom-font);
}

header {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  text-align: center;

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
  }
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  ul,
  ol {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  ol li span,
  p span {
    color: var(--blue);
  }

  ul li span {
    font-weight: 600;
  }
}

.policy-section {
  border-top: 2px solid var(--gray);
  padding-top: 2rem;
}
