* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Kanit", sans-serif;

  --color-grey: #35383f;
  --color-blue-grey: #404a65;
  --color-white: #ecedf0;
  --color-blue: #1f6fb0;
}

body,
.main {
  background-color: var(--color-blue-grey);
  color: var(--color-white);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  gap: 2.5rem;

  h1 {
    font-size: 4rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  button {
    font-size: 1.25rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .coin {
    margin-bottom: 2.5rem;
  }

  button {
    background-color: var(--color-blue);
    transition: all ease .3s;
    cursor: pointer;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    font-weight: 600;
    border: none;
  }

  button:hover {
    background-color: #368dc3;
  }
}
