@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Lora", serif;

  --heading-line-height: 1.2;
  --paragraph-line-height: 1.6;

  scrollbar-color: #136c7c #060607;;

}

body {
  font-family: var(--paragraph-font);
  line-height: var(--paragraph-line-height);
  background-color: #060607;
  color: #fff;
  min-height: 100dvh;
  position: relative;
}

nav {
  height: 90px;
  background-color: #0606073b;
  backdrop-filter: blur(18px);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.5rem;
}

nav p {
  font-size: 1.5rem;
  font-family: var(--heading-font);
  font-weight: 700;
}
